@mixin typekit() {
	font-family: $futura;
	visibility: hidden;

	.wf-active & {
		visibility: visible;
	}
}

@mixin clear() {
	&:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
}

@mixin deeppink($opacity: 1, $rule: background) {
	#{$rule}: rgba(255, 20, 147, $opacity);
}
