
li {
	cursor: pointer;
	color: #333;

	&:hover {
		background: #eee;
		color: #000;
	}

	&:after {
		display: block;
		clear: both;
		content: ' ';
	}

	img {
		display: block;
		float: left;
		margin-right: 20px;
	}

	time {
		font-size: 11px;
	}

	h4 {
		font-size: 14px;
		margin: 4px 0;
	}

	p {
		margin: 0;
		font-size: 11px;
		line-height: 14px;

		strong {
			display: block;
		}
	}
}
