ul {
	box-sizing: border-box;
	max-width: 100%;
	width: auto;
}

li {
	display: block;
	cursor: pointer;
	color: #333;
	margin: 0 0 10px;

	@include clear();

	.empty-link,
	.image-link {
		display: block;
		float: left;
		margin-right: 15px;
		width: 120px;
		min-height: 90px;
	}

	.empty-link {
		background: #eee;
	}

	img {
		display: block;
		width: 120px;
		height: auto;
	}

	time {
		font-size: 13px;
		line-height: 20px;
	}

	h3 {
		display: block;
		font-size: 18px;
		line-height: 28px;
		margin: 0 0 10px;
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
		@include typekit();
	}

	h4 {
		font-size: 18px;
		line-height: 22px;
		font-weight: 600;
		font-family: $futura;
		@include typekit();
	}

	p {
		margin: 0;
		font-size: 12px;
		line-height: 20px;
	}

	.links {
		margin-top: 10px;
		@include clear();

		a {
			margin-right: 5px;
			padding: 3px 5px;
			@include button();

			&:last-child {
				margin-right: 0;
			}
		}
	}

	.debug {
		display: none;
	}
}
