
li {
	display: block;
	cursor: pointer;
	color: #333;
	margin: 0 0 10px;

	&:after {
		display: block;
		clear: both;
		content: ' ';
	}

	.empty-link,
	.image-link {
		display: block;
		float: left;
		margin-right: 15px;
		width: 120px;
		min-height: 120px;
	}

	.empty-link {
		background: #eee;
	}

	img {
		display: block;
		width: 120px;
		height: auto;
	}

	time {
		font-size: 12px;
		line-height: 20px;
	}

	h3 {
		display: block;
		font-size: 17px;
		line-height: 28px;
		margin: 0 0 10px;
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
	}

	h4 {
		font-size: 15px;
		line-height: 20px;
	}

	p {
		margin: 0;
		font-size: 14px;
		line-height: 20px;

		strong {
			display: block;
		}
	}

	.spotify {
		margin: 10px 0 0;

		a {
			font-size: 13px;
		}
	}
}
