
body {
	font-family: sans-serif;
}

h1 {
	letter-spacing: 1px;
	text-shadow: -1px 0 deeppink;
	outline: #fff;
}

#search-field {
	border: 1px solid #ddd;
	padding: 10px;
	font-size: 14px;
	line-height: 1;
}

ul {
	margin: 20px 0;
	padding: 0;
}

li {
	list-style: none;
	padding: 5px 0;
	margin: 0;
	border-bottom: 1px solid #eee;
}


