@import "reset";

body {
	width: 100%;
	box-sizing: border-box;
	padding: 20px;
	font-family: sans-serif;
}

a {
	color: deeppink;
}

strong {
	font-weight: bold;
}

h2 {
	display: block;
	font-weight: bold;
	font-size: 20px;
	line-height: 36px;
}

input[type="text"] {
	border: 1px solid #ddd;
	padding: 10px;
	font-size: 14px;
	line-height: 1;
}

.everywhere-field {
	margin-bottom: 20px;
}

@import "show";


