<nav class="app-links">
	<a href="/">Cities</a>
	<a href="/you">Your Location</a>
</nav>

<h2>Everywhere</h2>

<form class="everywhere-field">
	<input type="text" id="search-field" placeholder="Search By Artist"/>
</form>

<ul id="shows"></ul>

{{#yield-scripts}}
<script src="/js/lib/jquery-2.1.4.min.js"></script>
<script src="/js/lib/underscore.min.js"></script>
<script src="/js/lib/backbone.min.js"></script>
<script src="/build/js/everywhere.min.js"></script>
{{/yield-scripts}}