<a href="/">Search NYC Tonight</a>

<h2>Search Everywhere by Artist</h2>

<p class="everywhere-field">
	<input type="text" id="search-field"/>
</p>

<ul id="shows"></ul>

{{#yield-scripts}}
<script src="/build/js/everywhere.min.js"></script>
{{/yield-scripts}}