<nav>
	<a href="/">Search Cities Tonight</a>
	<span class="sep">|</span>
	<a href="/you">Your Location</a>
</nav>

<h2>Search Everywhere by Artist</h2>

<p class="everywhere-field">
	<input type="text" id="search-field"/>
</p>

<ul id="shows"></ul>

{{#yield-scripts}}
<script src="/js/lib/jquery-2.1.4.min.js"></script>
<script src="/js/lib/underscore.min.js"></script>
<script src="/js/lib/backbone.min.js"></script>
<script src="/build/js/everywhere.min.js"></script>
{{/yield-scripts}}