<div id="hogan">

</div>
<script src="http://twitter.github.com/hogan.js/builds/3.0.1/hogan-3.0.1.js"></script>
<script src="/static/templates.min.js"></script>
<script src="/static/build.min.js"></script>