<nav class="app-links">
	<a href="/everywhere">Search Everywhere</a>
	<a href="/you">Your Location</a>
</nav>

<h2>Shows Today in {{ metroName }}</h2>

<nav class="cities app-links">{{# locations }}
{{# selected }}
<span>{{ name }}</span>
{{/ selected }}
{{^ selected }}
<a href="/metro/{{ id }}">{{ name }}</a>
{{/ selected }}
{{/ locations }}</nav>

<ul id="shows">
	{{# shows  }}
	<li>{{> show }}</li>
	{{/ shows  }}
</ul>

{{#yield-scripts}}
<script src="/js/lib/jquery-2.1.4.min.js"></script>
<script src="/build/js/cities.min.js"></script>
{{/yield-scripts}}