<h2>Search for Shows Today in New York</h2>

<p>
	<button id="search-nyc">Click for Shows</button>
</p>

<h2>Search Everywhere by Artist</h2>

<p>
	<input type="text" id="search-field"/>
</p>

<ul id="shows"></ul>

{{#yield-scripts}}
<script src="/build/js/compiled.min.js"></script>
{{/yield-scripts}}