<h1>Hi!</h1>

<p>
	<input type="text" id="search-field"/>
</p>

<ul id="shows"></ul>

{{#yield-scripts}}
<script src="/static/lib/hogan-3.0.1.min.js"></script>
<script src="/static/templates/compiled.min.js"></script>
<script src="/static/js/build.min.js"></script>
{{/yield-scripts}}