<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<title>Fuckin' with Node</title>
<link rel="stylesheet" type="text/css" href="/static/css/main.min.css"/>
{{{yield-styles}}}
</head>
<body>
{{{ yield }}}

{{{yield-scripts}}}
</body>
</html>