<nav class="app-links">
	<a href="/">Cities</a>
	<a href="/everywhere">Everywhere</a>
</nav>

<h2>Shows Near You</h2>

<ul id="shows" class="location-shows"></ul>

{{#yield-scripts}}
<script src="/js/lib/jquery-2.1.4.min.js"></script>
<script src="/js/lib/underscore.min.js"></script>
<script src="/js/lib/backbone.min.js"></script>
<script src="/build/js/location.min.js"></script>
{{/yield-scripts}}
