<nav>
	<a href="/">Search Cities Tonight</a>
	<span class="sep">|</span>
	<a href="/everywhere">Search Everywhere</a>
</nav>

<h2>Shows Near You</h2>

<ul id="shows"></ul>

{{#yield-scripts}}
<script src="/build/js/location.min.js"></script>
{{/yield-scripts}}
