<h3>{{ venue.name }}</h3>

{{# images }}
<a href="{{ url }}" class="image-link"><img src="{{ url }}"/></a>
{{/ images }}
{{^ images }}
<a href="{{ url }}" class="empty-link"></a>
{{/ images }}
<time>{{ dateString }}</time>
<h4>{{ artistNames }}</h4>
<p>{{ venue.city }}, {{ venue.region }}</p>
{{# spotifyUri }}
<p class="spotify">
	<strong>Spotify:</strong>
	<a href="{{{ spotifyUri }}}">APP</a> <a href="{{{ spotifyUrl }}}">WEB</a>
</p>
{{/ spotifyUri }}