<h3>{{ venue.name }}</h3>

{{# images }}
<a href="{{ url }}" class="image-link"><img src="{{ url }}"/></a>
{{/ images }}
{{^ images }}
<a href="{{ url }}" class="empty-link"></a>
{{/ images }}
<time>{{ dateString }}</time>
<h4>{{ artistNames }}</h4>
<p>{{ venue.city }}, {{ venue.region }}</p>

<p class="links">
	{{# spotifyUri }}<a href="{{{ spotifyUri }}}">Spotify</a>{{/ spotifyUri }}
	{{# mapUri }}<a href="{{{ mapUri }}}">Map</a>{{/ mapUri }}
</p>

{{# popularity }}
<span class="debug">Pop: {{ popularity }}</span>
{{/ popularity }}