{{# images }}
<a href="{{ url }}" class="image-link"><img src="{{ url }}"/></a>
{{/ images }}
<time>{{ dateString }}</time>
<h4>{{ artistNames }}</h4>
<p><strong>{{ venue.name }}</strong>{{ venue.city }}, {{ venue.region }}</p>